<?xml version="1.0"?>
<robot name="mediumbowlLid">
  <link name="lid">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="0.5e-3" ixy="0" ixz="0" iyy="0.5e-3" iyz="0" izz="0.9e-3"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="largeLid.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="largeLid.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.01"/>
      </surface>
    </collision>
  </link>
  <link name="handle">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="0.5e-3" ixy="0" ixz="0" iyy="0.5e-3" iyz="0" izz="0.9e-3"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="largeLidHandle.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="largeLidHandle.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.01"/>
      </surface>
    </collision>
  </link>
  <joint name="lid_to_handle" type="fixed">
    <parent link="lid"/>
    <child link="handle"/>
    <origin rpy="0 0 0" xyz="0 0 0.044"/>
  </joint>

</robot>

