<?xml version="1.0"?>
<robot name="shallot">
  <link name="shallot">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="shallot.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="shallotCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
</robot>

