<?xml version="1.0"?>
<robot name="avocado_seed">
  <link name="seed">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="1.9e-5" ixy="0" ixz="0" iyy="6.8e-6" iyz="0" izz="1.2e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="seed.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="seed.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
</robot>

