<?xml version="1.0"?>
<robot name="muffin_tin">
  <link name="muffin_tin">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="3.67e-5" ixy="0" ixz="0" iyy="5.6e-4" iyz="0" izz="5.9e-4"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="MuffinTin.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="MuffinTinCollider.obj"/>
      </geometry>
    </collision>
  </link>
</robot>

