<?xml version="1.0"?>
<robot name="garlic_sprinkled_bread_cube">
  <link name="cube">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="breadCube.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="breadCube.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="dill">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.002"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="breadCubeDill.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="breadCubeDill.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="cube_to_dill" type="fixed">
    <parent link="cube"/>
    <child link="dill"/>
    <origin rpy="0 0 0" xyz="0 0 0.008209"/>
  </joint>
</robot>

