<?xml version="1.0"?>
<robot name="beaten_egg_particle">
  <link name="particle">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="3.6e-6" ixy="0" ixz="0" iyy="3.6e-6" iyz="0" izz="3.6e-6"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="beaten_egg_particle.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="beaten_egg_particle.obj"/>
      </geometry>
    </collision>
  </link>
</robot>

