<?xml version="1.0"?>
<robot name="colander">
  <link name="colander">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="Colander.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="ColanderCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="holes">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="ColanderHoles.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="ColanderHolesCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
<joint name="colander_to_holes" type="fixed">
    <parent link="colander"/>
    <child link="holes"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>

