<?xml version="1.0"?>
<robot name="smallbowl">
  <link name="smallbowl">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.05"/>
        <inertia ixx="0.5e-3" ixy="0" ixz="0" iyy="0.5e-3" iyz="0" izz="0.9e-3"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="smallBowl.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="smallBowlCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.01"/>
      </surface>
    </collision>
  </link>
</robot>

