<?xml version="1.0"?>
<robot name="mayonnaiseJar">
  <link name="jar">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="MayonnaiseJar.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="MayonnaiseJar.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="lid">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="1.9e-5" ixy="0" ixz="0" iyy="6.8e-6" iyz="0" izz="1.2e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="MayonnaiseJarLid.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="MayonnaiseJarLid.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="label">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="1.9e-5" ixy="0" ixz="0" iyy="6.8e-6" iyz="0" izz="1.2e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="MayonnaiseJarLabel.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="MayonnaiseJarLabel.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="jar_to_lid" type="fixed">
    <parent link="jar"/>
    <child link="lid"/>
    <origin rpy="0 0 0" xyz="0 0 0.156428"/>
  </joint>
  <joint name="jar_to_label" type="fixed">
    <parent link="jar"/>
    <child link="label"/>
    <origin rpy="0 0 0" xyz="0 0 0.088262"/>
  </joint>
</robot>

