<?xml version="1.0"?>
<robot name="whisk">
  <link name="handle">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="handle.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="handle.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="shaft">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="shaft.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="shaft.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="whisk">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="1.9e-5" ixy="0" ixz="0" iyy="6.8e-6" iyz="0" izz="1.2e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="whisk.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="whisk.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="handle_to_shaft" type="fixed">
    <parent link="handle"/>
    <child link="shaft"/>
    <origin rpy="0 0 0" xyz="0.101 0 0"/>
  </joint>
  <joint name="handle_to_whisk" type="fixed">
    <parent link="handle"/>
    <child link="whisk"/>
    <origin rpy="0 0 0" xyz="0.155 0 0"/>
  </joint>
</robot>

