<?xml version="1.0"?>
<robot name="vegetableOil">
  <link name="body">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="vegetableOilBottle.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="bottleCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="cap">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="vegetableOilCork.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="corkCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="label">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="vegetableOilLabel.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="vegetableOilLabel.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="body_to_cap" type="fixed">
    <parent link="body"/>
    <child link="cap"/>
    <origin rpy="0 0 0" xyz="0 0 0.546"/>
  </joint>
  <joint name="body_to_label" type="fixed">
    <parent link="body"/>
    <child link="label"/>
    <origin rpy="0 0 0" xyz="0.069 0 0.225"/>
  </joint>
</robot>

