<?xml version="1.0"?>
<robot name="banana">
  <link name="body">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.03"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="bananaBody.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="bodyCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
<link name="stem">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.03"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="bananaStem.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="bananaStem.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
<link name="nub">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.03"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="bananaNub.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="bananaNub.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="body_to_stem" type="fixed">
    <parent link="body"/>
    <child link="stem"/>
    <origin rpy="0 0 0" xyz="0 0.078995 -0.137653"/>
  </joint>
  <joint name="body_to_nub" type="fixed">
    <parent link="body"/>
    <child link="nub"/>
    <origin rpy="0 0 0" xyz="0 0.079694 0.1517"/>
  </joint>
</robot>

