<?xml version="1.0"?>
<robot name="freezer">
  <link name="world"/>
  <link name="freezer">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="30.0"/>
        <inertia ixx="2e-2" ixy="0" ixz="0" iyy="2e-2" iyz="0" izz="2e-2"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="fridge_visual.obj"/>
        <!--<mesh filename="fridge_collision.obj"/>-->
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="freezer_collision.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="base" type="fixed">
    <parent link="world"/>
    <child link="freezer"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>

