<?xml version="1.0"?>
<robot name="limeJuice">
  <link name="body">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="limeBottle.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="bottleCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="cap">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="bottleCap.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="bottleCap.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="body_to_cap" type="fixed">
    <parent link="body"/>
    <child link="cap"/>
    <origin rpy="0 0 0" xyz="0 0 0.258451"/>
  </joint>
</robot>

