<?xml version="1.0"?>
<robot name="eggshell_pointy_half">
  <link name="eggshell_pointy_half">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.0025"/>
        <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="eggshell_pointy_half_visual.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="eggshell_pointy_half_collision.obj"/>
      </geometry>
    </collision>
  </link>
</robot>

