<?xml version="1.0"?>
<robot name="peeled_cucumber_slice">
  <link name="slice">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="peeledCucumberSlice.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="peeledCucumberSlice.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="seeds">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="1.9e-5" ixy="0" ixz="0" iyy="6.8e-6" iyz="0" izz="1.2e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="cucumberSeeds.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="cucumberSeeds.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="slice_to_seeds" type="fixed">
    <parent link="slice"/>
    <child link="seeds"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>

