<?xml version="1.0"?>
<robot name="kitchen_cabinet">
  <link name="base">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="base.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="base.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="top">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="top.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="top.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="back">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="back.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="back.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="left">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="side.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="side.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="right">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="side.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="side.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="bottom_shelf">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="shelf.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="shelf.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="top_shelf">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="shelf.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="shelf.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="base_to_top" type="fixed">
    <parent link="base"/>
    <child link="top"/>
    <origin rpy="0 0 0" xyz="0 0.011 1.785"/>
  </joint>
  <joint name="base_to_back" type="fixed">
    <parent link="base"/>
    <child link="back"/>
    <origin rpy="0 0 0" xyz="0 -0.69 0.929"/>
  </joint>
  <joint name="base_to_left" type="fixed">
    <parent link="base"/>
    <child link="left"/>
    <origin rpy="0 0 0" xyz="-3.072 0 0.925"/>
  </joint>
  <joint name="base_to_right" type="fixed">
    <parent link="base"/>
    <child link="right"/>
    <origin rpy="0 0 0" xyz="3.072 0 0.925"/>
  </joint>
  <joint name="base_to_top_shelf" type="fixed">
    <parent link="base"/>
    <child link="top_shelf"/>
    <origin rpy="0 0 0" xyz="0 0 0.927"/>
  </joint>
  <joint name="base_to_bottom_shelf" type="fixed">
    <parent link="base"/>
    <child link="bottom_shelf"/>
    <origin rpy="0 0 0" xyz="0 0 0.201"/>
  </joint>
</robot>

