<?xml version="1.0"?>
<robot name="chili_con_carne">
  <link name="bowl">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="chiliBowl.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="chiliBowlCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="chili">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="chili.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="chili.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="con">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="corn.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="corn.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="carne">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="carne.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="carne.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="bowl_to_chili" type="fixed">
    <parent link="bowl"/>
    <child link="chili"/>
    <origin rpy="0 0 0" xyz="0 0 0.09"/> 
  </joint>
  <joint name="bowl_to_carne" type="fixed">
    <parent link="bowl"/>
    <child link="carne"/>
    <origin rpy="0 0 0" xyz="0 0 0.098023"/>
  </joint>
  <joint name="bowl_to_con" type="fixed">
    <parent link="bowl"/>
    <child link="con"/>
    <origin rpy="0 0 0" xyz="0 0 0.098023"/>
  </joint>
</robot>

