<?xml version="1.0"?>
<robot name="coffee_cup_milk">
  <link name="cup">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.02"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="coffeeCup.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="coffeeCupCollider.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <link name="coffee">
    <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <mass value="0.005"/>
        <inertia ixx="4.4e-5" ixy="0" ixz="0" iyy="0" iyz="0" izz="4.4e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="coffeeCupCoffeeWMilk.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="coffeeCupCoffeeWMilk.obj"/>
      </geometry>
      <surface>
           <bounce restitution_coefficient = "0.1"/>
      </surface>
    </collision>
  </link>
  <joint name="cup_to_coffee" type="fixed">
    <parent link="cup"/>
    <child link="coffee"/>
    <origin rpy="0 0 0" xyz="0 0.110023 0"/>
  </joint>
</robot>

